﻿@{
	ViewData["Title"] = "Error";
}



<div class="error-container">
	<h2>@ViewBag.Error.Title</h2>
	<p class="errormessage">@ViewBag.Error.ErrorMessage</p>	
	<a href="@ViewBag.Error.Path" class="action-button">@ViewBag.Error.ActionMessage</a>
</div>
